<div class="contenido">

    <section class="desarrollo">
        <div class="texto">
            <h2>Desarrollo de Software</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat nam voluptate dolor
                voluptatibus
                assumenda ipsa minus voluptates. Corrupti iusto laudantium quod porro et, enim est officia esse
                cumque provident ducimus?</p>
            <div class="botones">
                <a id="leer" href="#">Leer más</a>
                <a id="registrarse" href="#">Registrarse</a>
            </div>
        </div>
        <div class="imagen">
            <img src="../../../assets/img/Programmer.gif" alt="">
        </div>
    </section>

    <section class="aplica">
        <a href="#" routerLink="/aplicar">
            <div class="fondo">
                <img src="../../../assets/img/desarrollo-software-i-cloud-seven-3.png" alt="">
                <h3><strong>¡Aplica ya!</strong></h3>
            </div>
        </a>
    </section>

    <div class="textos">

        <section class="desarrollo">
            <div class="imagen">
                <img src="../../../assets/img/12291302_Tiny cute children learning coding.jpg" alt="">
            </div>
            <div class=" texto">
                <h2>Aprende con los mejores</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat nam voluptate dolor
                    voluptatibus
                    assumenda ipsa minus voluptates. Corrupti iusto laudantium quod porro et, enim est officia esse
                    cumque provident ducimus?</p>
            </div>
        </section>

        <section class="desarrollo">
            <div class="texto">
                <h2>Desarrolla habilidades</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat nam voluptate dolor
                    voluptatibus
                    assumenda ipsa minus voluptates. Corrupti iusto laudantium quod porro et, enim est officia esse
                    cumque provident ducimus?</p>
            </div>
            <div class="imagen">
                <img src="../../../assets/img/11667257_20943502.jpg" alt="">
            </div>
        </section>

        <section class="desarrollo">
            <div class="imagen">
                <img src="../../../assets/img/12083375_Wavy_Bus-20_Single-04.jpg" alt="">
            </div>
            <div class="texto">
                <h2>Mejora conocimientos</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat nam voluptate dolor
                    voluptatibus
                    assumenda ipsa minus voluptates. Corrupti iusto laudantium quod porro et, enim est officia esse
                    cumque provident ducimus?</p>
            </div>
        </section>

    </div>

    <div class="cursos">

        <h2>Herramientas</h2>

        <div class="herramientas">

            <div class="herramienta">
                <h3>HTML</h3>
                <img src="../../../assets/img/Html5.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium quam aliquid accusamus
                    facere, libero non velit illum dolores nam ad similique aspernatur, suscipit nesciunt odio,
                    esse rem blanditiis nobis? Repudiandae!</p>
                <a id="html" href="#">Leer más</a>
            </div>

            <div class="herramienta">
                <h3>JS</h3>
                <img src="../../../assets/img/Js.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium quam aliquid accusamus
                    facere, libero non velit illum dolores nam ad similique aspernatur, suscipit nesciunt odio,
                    esse rem blanditiis nobis? Repudiandae!</p>
                <a id=" js" href="#">Leer más</a>
            </div>

            <div class="herramienta">
                <h3>CSS</h3>
                <img src="../../../assets/img/Css.png" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laudantium quam aliquid accusamus
                    facere, libero non velit illum dolores nam ad similique aspernatur, suscipit nesciunt odio,
                    esse rem blanditiis nobis? Repudiandae!</p>
                <a id="css" href="#">Leer más</a>
            </div>

        </div>

    </div>

</div>