<footer>
    <div class="info">
        <p>&copy; Elaborado por Jhon Herrera - <a href="#">jhonhe@contact.com</a></p>

    </div>
    <div class="redes">
        <a href="#">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="#">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </div>
</footer>