<div class="contenido">

    <div class="formulario">

        <h2>Aplicar al curso</h2>

        <div class="elementos">
            <div class="imagen">
                <img src="../../../assets/img/desarrollosoftware.png" alt="">
            </div>
            <form action="" class="form">
                <input type="text" placeholder="Nombres">
                <input type="text" placeholder="Apellidos">
                <input type="email" placeholder="Correo electrónico">
                <input type="tel" placeholder="Teléfono">
                <div class="botones">
                    <input type="submit">
                    <input type="reset">
                </div>
            </form>
        </div>

    </div>

    <section class="aplica">
        <div class="fondo">
            <img src="../../../assets/img/pngwing.com.png" alt="">
            <h3><strong>¡Hola Mundo!</strong></h3>
        </div>
    </section>

</div>